<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>FilterDemo</display-name>
  
  <servlet>
  	<servlet-name>myServlet</servlet-name>
  	<servlet-class>fil.Main</servlet-class>
  	</servlet>
  	<servlet-mapping>
  	<servlet-name>myServlet</servlet-name>
  	<url-pattern>/filterdemo</url-pattern>
  	</servlet-mapping>
  	
  	<filter>
  	<filter-name>MYfilter</filter-name>
  	<filter-class>fil.FilterDemo</filter-class>
  	</filter>
  	<filter-mapping>
  	<filter-name>MYfilter</filter-name>
  	<url-pattern>/filterdemo</url-pattern>
  	</filter-mapping>
  
  <welcome-file-list>
    <welcome-file>LOGIN.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
</web-app>